<div class="tab-title">功能选择</div>
<div class="fun-tips">
    <div class="tips-img">
        <img src="assets/images/fun-bg.png" />
    </div>
    <div class="lips-text">
        功能选择
        <div class="fun-desc">Functional selection</div>
    </div>
    
</div>
<ul class="fun-list">
    <li class="fun-box" (click)="getModule('tag/index')">
        <div class="fun-box-content" >
            <div class="fun-jiankong"></div> 
            <span class="text">监控与预警</span>
        </div>
    </li>
    <li class="fun-box">
        <div class="fun-box-content">
            <div class="fun-shengchanjihu">

            </div> 
            <span class="text">生产计划执行</span>
        </div>
    </li>
    <li class="fun-box">
        <div class="fun-box-content">
            <div class="fun-tongjibaobiao"></div> 
            <span class="text">统计报表</span>
        </div>
    </li>
    <li class="fun-box">
        <div class="fun-box-content">
            <div class="fun-shebeiguanli"></div> 
            <span class="text">设备管理</span>
        </div>
    </li>
    <li class="fun-box">
        <div class="fun-box-content">
            <div class="fun-shujuweihu"></div> 
            <span class="text">主数据维护</span>
        </div>
    </li>
    <li class="fun-box">
        <div class="fun-box-content">
            <div class="fun-shezhi"></div> 
            <span class="text">配置与初始化</span>
        </div>
    </li>
</ul>